@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f9f9f9;
	--surface: #fcfcfc;
	--loading: #cacaca;
	--primary: #607d4a;
	--text-secondary: #747474;
	--primary-100: #f1f8e4;
	--primary-200: #e2f2ca;
	--primary-500: #607d4a;
	--surface-border: var(--background);
	--input-border: #d9d9d9;
}

[data-theme='dark'] {
	--background: #121212;
	--surface: #191919;
	--loading: #555555;
	--surface-border: hsl(240 5.26% 26.08%);
	--input-border: hsl(240 5.26% 26.08%);
}

@layer components {
	.content-container {
		@apply bg-surface shadow-md rounded-2xl w-full px-6 py-5 border border-surface-border;
	}
}

@layer base {
	h1 {
		@apply text-3xl md:text-4xl lg:text-5xl;
	}

	h2 {
		@apply text-2xl md:text-3xl xl:text-4xl;
	}

	h3 {
		@apply text-xl md:text-2xl xl:text-3xl;
	}

	h4 {
		@apply text-lg md:text-xl xl:text-2xl;
	}
}
