:root {
	--background: #f9f9f9;
	--surface: #fcfcfc;
	--loading: #cacaca;
	--primary: #607d4a;
	--text-secondary: #747474;
	--primary-100: #f1f8e4;
	--primary-200: #e2f2ca;
	--primary-500: #607d4a;
	--surface-border: var(--background);
	--input-border: #d9d9d9;
}

[data-theme='dark'] {
	--background: #121212;
	--surface: #191919;
	--loading: #555555;
	--surface-border: hsl(240 5.26% 26.08%);
	--input-border: hsl(240 5.26% 26.08%);
}